.btn-style{
    justify-content: center;
}
.btn-style > button{
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: blueviolet;
    filter: drop-shadow(2px 4px 6px black);
    margin: 3px;
}
.btn-style > button:hover{
    filter: drop-shadow(2px 4px 16px black);

}
