:root{
    --buttonColors: blueviolet;
}
.btn-style{
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    justify-content: center;
}
.btn-style > button{
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--buttonColors);
    filter: drop-shadow(2px 4px 6px black);
    margin: 3px;
}
.btn-style > button:hover{
    filter: drop-shadow(2px 4px 16px black);

}
.mainContentContainer{

}
.nav-menu active{
    position: fixed;
    z-index: 2;
}
.menu-bars{
    margin-left: 0px;
}
.nav-text a{
    background-color: var(--buttonColors);
}